
/*.nav-bar{
    display: flex;
    list-style: none;
}

.nav-bar menu{
    margin: 4px;
    justify-content: right;
}*/

@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

#red{
    background-color: rgb(252, 84, 112);
}